---
import Section from "@/components/ui/Section.astro";
import "../styles/global.css";
import Xkale from "@/assets/xkale-logo.svg";
import Genesys from "@/assets/genesys-logo.svg";
import Build from "@/assets/build.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Innova Latam 2025</title>
  </head>
  <body>
    <main>
      <Section class="h-dvh">
        <div class="flex flex-col items-center justify-center h-full w-full">
          <h1
            class="font-bold text-[clamp(var(--text-4xl),4vw,var(--text-7xl))] text-center mb-4"
          >
            Se viene algo especia
          </h1>
          <p class="text-[clamp(var(--text-base),4vw,var(--text-2xl))]">Pronto estará listo</p>
          <img src={Build.src} alt="" class="w-full max-w-[32rem]">
          <p>pagina en construcción</p>
        </div>
      </Section>
    </main>
  </body>
</html>
