---
import "../styles/global.css";
import Xkale from "@/assets/xkale-logo.svg"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Innova Latam 2025</title>
  </head>
  <body>
    <header>
      
    </header>
    <main>

    </main>
  </body>
</html>
